div{
    height: 150px;
    width: 150px;
    background-color: pink;
    transition-property: all;
    transition-duration: 3s ;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}
div:hover{
    background-color: red;
    font-size: 20px;
}