.navbar{
    background-color:pink ;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: red;
    
}
li{
    list-style-type: none;
    display: inline;
}
.outer{
    height: 500px;
    width: 400px;
    background-color: darkorchid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 76);
   
}